@using Newtonsoft.Json;
@model List<CosmosDBv1.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h2>Candidates</h2>
<div id="CandidatesContainer">
    <a href="/Candidate/Create" style="display: block; margin-top: 20px; margin-bottom: 5px;"><span class="fa fa-plus-circle"></span> Add Candidate</a>
    <div id="CandidatesGrid">
    </div>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var candidatesDataSource = new kendo.data.DataSource({
            data: @Html.Raw(JsonConvert.SerializeObject(Model))
        });
        candidatesDataSource.fetch(function () {
            var grid = $("#CandidatesGrid").data("kendoGrid");
            if (!grid) {
                grid = $("#CandidatesGrid").kendoGrid({
                    gridId: "Candidates",
                    sortable: true,
                    filterable: false,
                    editable: false,
                    navigatable: true,
                    resizeable: true,
                    scrollable: true,
                    pageable: {
                        pageSize: 25,
                        pageSizes: [10, 25, 50, 100, 500]
                    },
                    columns: [
                        {
                            field: "", title: "", width: "4%",
                            template: function(dataItem) {
                                return "<a href='/Candidate/Edit/" + dataItem.id + "'>view</a>";
                            }
                        },
                        {
                            field: "firstName", title: "First Name", width: "7%"
                        },
                        {
                            field: "lastName", title: "Last Name", width: "7%"
                        },
                        {
                            field: "email", title: "Email", width: "10%",
                            template: function (dataItem) {
                                if (dataItem.contact && dataItem.contact.email) {
                                    return dataItem.contact.email;
                                }

                                return '';
                            }
                        },
                        {
                            field: "phone", title: "Phone", width: "10%",
                            template: function (dataItem) {
                                if (dataItem.contact && dataItem.contact.phone) {
                                    return dataItem.contact.phone;
                                }

                                return '';
                            }
                        },
                        {
                            field: "isFullTime", title: "FT/I", width: "4%",
                            template: function (dataItem) {
                                if (dataItem.isFullTime) {
                                    return 'FT';
                                }
                                return 'I';
                            }
                        },
                        {
                            field: "graduationDate", title: "Grad. Date", width: "8%",
                            template: function (dataItem) {
                                if (dataItem.graduationDate) {
                                    return kendo.toString(kendo.parseDate(dataItem.graduationDate), "MM/dd/yyyy");
                                }

                                return '';
                            }
                        },
                        {
                            field: "majors", title: "Major(s)", width: "15%",
                            template: function (dataItem) {
                                if (dataItem.majors && dataItem.majors.length > 0) {
                                    return dataItem.majors.join("; ");
                                }

                                return "";
                            }
                        },
                        {
                            field: "minors", title: "Minor(s)", width: "15%",
                            template: function (dataItem) {
                                if (dataItem.minors && dataItem.minors.length > 0) {
                                    return dataItem.minors.join("; ");
                                }

                                return "";
                            }
                        },
                        {
                            field: "gpa", title: "GPA", width: "5%",
                            template: function (dataItem) {
                                if (dataItem.gpa && dataItem.gpa.cumulative) {
                                    return dataItem.gpa.cumulative;
                                } 

                                return "";
                            }
                        }
                    ],
                    dataSource: candidatesDataSource
                }).data("kendoGrid");
            }
        });

    });
</script>
